// Colors
$accent-blue: #038de9;
$gray: #999;

// Font Weights
$bold: 900;
$light: lighter;

$rounded: 10vmin;

$border: .5vmin solid;
$light-border: .2vmin solid $gray;

$transition: .2s all ease;

$horizontal-margin: 20vmin;
