@use 'values' as *;

@mixin button($color, $text-color: $off-white, $hover-text-color: $bkg-color) {
  font-size: 0.8em;

  border: $border $color;
  border-radius: $rounded;
  padding: 0.22em 0.7em;

  box-sizing: content-box;

  color: $text-color;

  transition: $transition;

  cursor: pointer;

  &:hover {
    background: $color;
    color: $hover-text-color;
  }
}

@mixin input {
  outline: none;
  border: none;

  font-size: 1em;

  text-align: left;

  font-weight: $font-title;

  color: $gray;
  border-bottom: 0.4vmin solid $gray;
  transition: $transition;

  background: transparent;

  &:focus {
    color: $off-white;
    border-color: $off-white;

    ~ .label {
      color: $off-white;
    }
  }

  &::placeholder {
    color: $dark-gray;
  }
}
