// Colors
$accent-blue: #038de9;
$accent-light-blue: #51adeb;
$gray: #898989;
$dark-gray: #494949;
$light-gray: #ddd;

// Font Weights
$font-title: 550;
$font-bold: 450;
$font-light: 400;
$font-thin: 300;

$rounded: 10vmin;

$border: .15em solid;
$light-border: .05em solid $gray;

$transition: .2s all ease;

$horizontal-margin: 20vmin;
