@use 'values' as *;
@use 'mixins' as *;

body {
  background: $bkg-color;
}

::-webkit-scrollbar {
  width: 0.35vw;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: $dark-gray;

  &:hover {
    background-color: $gray;
  }
}

*:not(body) {
  transition: color $transition, background-color $transition;
  color: $off-white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.header {
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;

  font-size: 2em;

  padding: 2vmin $horizontal-margin;

  border-bottom: 0.15vmin solid $dark-gray;

  .title {
    font-weight: $font-title;
  }

  .links {
    margin: 0 2vmin;

    .sep {
      display: inline;
      margin: 0 1vmin;
      color: $light-gray;
    }

    a {
      color: $gray;
      &:hover {
        color: $off-white;
      }
    }
  }

  .login {
    @include button($accent-blue);

    cursor: pointer;
    position: absolute;
    right: $horizontal-margin;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 3vmin $horizontal-margin;
  font-size: 2.2em;
}

.input-wrapper {
  input {
    @include input;
  }

  .label {
    font-size: 0.5em;
    position: absolute;
    color: $gray;
  }
}

.search {
  font-size: 3.5em;
  .title {
    font-size: 1em;
  }

  .input-wrapper {
    margin-left: 0.5em;

    input {
      width: 6.5em;
    }
  }

  .btn-search {
    margin-left: 0.5em;
    @include button($accent-blue);
  }
}

.tic {
  font-size: 1em;

  .tic-info {
    display: block;

    > .title {
      font-weight: $font-thin;
      font-size: 1.5em;
      margin: 0 0 3vmin;
      text-align: center;

      .id {
        font-weight: $font-title;
        display: inline-block;
      }
    }

    .stats {
      display: block;
      width: 100%;
      text-align: center;

      .stat {
        font-size: 1.25em;
        display: inline-block;
        flex-direction: column;
        font-weight: $font-light;

        margin: 1vmin 1vw;

        &.up {
          margin: 0 inherit;
        }

        .label {
          line-height: 1.2em;
          font-size: 0.4em;
          font-weight: $font-light;

          span {
            font-weight: $font-thin;
            color: $blue-gray;
          }
        }

        img {
          width: 20vmin;
          height: 20vmin;

          margin-bottom: 2vh;
        }
      }
    }

    .dispositions,
    .pdfs {
      margin-top: 4vmin;

      .title {
        font-size: 0.5em;
        margin: 0.5vmin 0;

        span {
          color: $blue-gray;
          cursor: pointer;

          &:hover {
            color: $off-white;
          }
        }
      }

      table {
        width: 100%;
        font-size: 0.75em;
        border-collapse: collapse;

        tr {
          margin: 0;

          td,
          th {
            text-align: left;
            padding: 0.8vmin 3.5vmin;
          }

          th {
            font-weight: $font-light;
          }

          a {
            color: $light-gray;

            &:hover {
              color: $off-white;
            }
          }

          &:nth-child(odd) {
            background-color: $dark-gray;
          }

          &.headers {
            background-color: $accent-dark-blue;
          }
        }
      }
    }

    .pdfs {
      .title {
        font-size: 0.5em;
        margin: 0.5vmin 0;
      }

      .pdf {
        border: none;
        text-align: center;
        position: relative;

        canvas {
          margin: 0 auto;
        }

        &:hover .controls {
          opacity: 1;
        }

        .controls {
          opacity: 0;
          transition: $transition opacity;

          border-radius: $rounded;

          position: absolute;
          bottom: 1vmin;
          left: 50%;
          right: 50%;
          div {
            background: $darkest-gray;
            display: inline-block;

            height: 5vmin;
          }

          .btn {
            width: 5vmin;
            cursor: pointer;
            font-size: 1em;
          }

          .page-num {
            font-size: 0.8em;
          }
        }
      }
    }
  }

  .user-input {
    text-align: center;
    font-size: 2.75em;

    position: relative;

    flex-wrap: wrap;

    select {
      @include input;

      outline: none;
      font-size: 1em;
      margin: 2vmin;

      padding: 0 1vmin;

      background: $bkg-color;
    }

    .button {
      @include button($accent-blue);
      margin-left: 1vmin;
    }
  }
}

.profile {
  .title {
    font-weight: $font-title;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0;

    flex-basis: 100%;
  }

  .email {
    flex-basis: 100%;
    text-align: center;
    font-size: 0.7em;
  }

  .button {
    @include button($accent-blue);
    margin: 2vmin 0;
  }

  .need-attention {
    margin-top: 2vmin;
    flex-basis: 100%;

    .title {
      line-height: 0;

      font-size: 1em;
      width: 100%;
      font-weight: $font-light;

      margin-bottom: 4vmin;
    }

    .tics {
      margin-top: 2vmin;
      text-align: center;
    }

    .tic-link {
      @include button($blue-gray);
      font-size: 0.8em;

      margin: 0 0.75vmin;
    }
  }
}

.dict-page {
  .dictionary {
    .title {
      width: 100%;
      text-align: center;

      margin: 2vmin 0 2vmin;
      font-weight: $font-title;
    }

    .basis-100 {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 4vmin;

      .input-wrapper {
        font-size: 0.8em;
        position: relative;
        display: inline;
        text-align: center;

        .label {
          left: 0;
        }

        input {
          font-weight: $font-thin;
        }
      }
    }

    .term {
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;

      font-weight: $font-light;

      width: 8em;
      height: 3.5em;
      padding: 3vmin;
      margin: 1vmin;

      background: $darkest-gray;

      border-radius: 1.5vmin;
      box-shadow: 0.3vmin 0.3vmin 0.5vmin 0.15vmin rgba(0, 0, 0, 0.3);

      .definition {
        font-weight: $font-thin;
        font-size: 0.5em;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.msg404 {
  text-align: center;
  margin-top: 10vmax;

  font-size: 0.6vw;

  .title {
    font-weight: $font-title;
    font-size: 35em;
    width: 100%;

    line-height: 80%;
  }

  .subtitle {
    font-size: 5em;
  }
}
