@use 'values' as *;
@use 'mixins' as *;
@use 'sass:color';

body {
  background: $bkg-color;
}

::-webkit-scrollbar {
  width: 0.35vw;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: $dark-gray;

  &:hover {
    background-color: $gray;
  }
}

*:not(body) {
  transition: color $transition, background-color $transition;
  color: $off-white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.header {
  position: sticky;
  top: 0;

  z-index: 101;

  background: $bkg-color;

  text-align: left;
  display: flex;
  align-items: center;

  font-size: 2em;

  padding: 0 $horizontal-margin;

  height: $header-height;

  border-bottom: 0.15vmin solid $dark-gray;

  .title {
    font-weight: $font-title;
  }

  .links {
    margin: 0 2vmin;

    .sep {
      display: inline;
      margin: 0 1vmin;
      color: $light-gray;
    }

    a {
      color: $gray;
      &:hover {
        color: $off-white;
      }
    }
  }

  .login {
    @include button($accent-blue);

    cursor: pointer;
    position: absolute;
    right: $horizontal-margin;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 3vmin $horizontal-margin;
  font-size: 2.2em;
}

.input-wrapper {
  input {
    @include input;
  }

  .label {
    font-size: 0.5em;
    position: absolute;
    color: $gray;
  }
}

.section.table {
  // add .section for importance
  margin: 5vmin $horizontal-margin * 0.05;

  &:not(.fail) .title {
    @include mini-title;
    float: left;
    
    margin-left: .1em;

    max-width: 49%;
  }

  .sep {
    display: inline;
    margin: 0 1vmin;
    color: $light-gray;
  }

  .csv {
    display: inline;
    color: $gray;
    &:hover {
      color: $off-white;
    }
  }

  &.fail {
    display: block;
    margin-top: 20vmin;

    .title {
      display: block;
      font-weight: $font-title;
      text-align: center;
    }

    .msg {
      a {
        color: $accent-light-blue;
      }
      text-align: center;
    }
  }

  .sort-by {
    @include mini-title;
    text-align: right;
    float: right;
    max-width: 50%;

    color: $light-gray;

    .label {
      color: $off-white;
      display: inline-block;
    }

    span {
      color: $gray;
      cursor: pointer;

      &:hover {
        color: $off-white;
      }

      &.selected {
        color: $gold;
      }
    }
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  tr.headers {
    position: sticky;
    top: $header-height;
    z-index: 100;
  }

  th,
  td {
    text-align: center;
    font-size: 0.67em;
    padding: 1.35vmin 0.2vmin;

    &:not(.id) {
      word-break: break-word;
    }

    a {
      color: $off-white;
      text-decoration: underline;

      &.gray {
        color: $gray;

        &:hover {
          color: $off-white;
        }
      }
    }
  }
}

.search {
  font-size: 3em;
  .title {
    font-size: 1em;
  }

  .input-wrapper {
    margin-left: 0.5em;

    input {
      width: 10.5em;
    }
  }
}

.tic {
  font-size: 1em;

  .tic-info {
    display: block;

    .published {
      text-align: center;
      font-size: 0.5em;

      font-weight: $font-thin;

      margin-bottom: -0.3em;
    }

    > .title {
      font-weight: $font-thin;
      font-size: 1.5em;
      text-align: center;

      .id {
        font-weight: $font-title;
        display: inline-block;
      }
    }

    .exofop {
      text-align: center;
      margin: -1vmin 0 3vmin;

      font-size: 0.6em;
      color: $accent-light-blue;

      &:hover {
        color: $off-white;
      }
    }

    .null {
      color: $dark-gray;
    }

    .stats {
      display: block;
      width: 100%;
      text-align: center;

      .stat {
        font-size: 1.25em;
        display: inline-block;
        flex-direction: column;
        font-weight: $font-light;

        margin: 1vmin 1vw;

        &.up {
          margin: 0 inherit;
        }

        .label {
          line-height: 1.2em;
          font-size: 0.4em;
          font-weight: $font-light;

          span {
            font-weight: $font-thin;
            color: $blue-gray;
          }
        }

        img {
          width: 20vmin;
          height: 20vmin;

          margin-bottom: 2vh;
        }
      }
    }

    .dispositions,
    .files {
      margin-top: 4vmin;

      .title {
        @include mini-title;

        span {
          color: $gray;
          cursor: pointer;

          &:hover {
            color: $off-white;
          }
        }
      }

      .group {
        background-color: color.adjust($gold, $alpha: -0.25);
        * {
          color: black;
          font-weight: $font-light;
        }
      }

      .paper {
        background-color: color.adjust($accent-light-blue, $alpha: -0.25);
        * {
          color: black;
          font-weight: $font-light;
        }
      }
    }

    .files-waiting {
      text-align: center;
      margin-top: 3vmin;
      background: $accent-dark-blue;

      animation: files-waiting-color 1.5s infinite alternate ease-in-out;
      border-radius: 1vmin;

      font-size: 0.8em;

      padding: 1vmin;
    }

    @keyframes files-waiting-color {
      0% {
        background: mix($accent-dark-blue, $bkg-color, 85%);
      }
      100% {
        background: mix($accent-dark-blue, $bkg-color, 40%);
      }
    }

    .files {
      .title {
        @include mini-title;
      }

      .file {
        border: none;
        text-align: center;
        position: relative;

        canvas {
          margin: 0 auto;
        }

        &:hover .controls {
          opacity: 1;
        }

        .controls {
          opacity: 0;
          transition: $transition opacity;

          border-radius: $rounded;

          position: absolute;
          bottom: 1vmin;
          left: 50%;
          right: 50%;
          div {
            background: $darkest-gray;
            display: inline-block;

            height: 5vmin;
          }

          .btn {
            width: 5vmin;
            cursor: pointer;
            font-size: 1em;
          }

          .page-num {
            font-size: 0.8em;
          }
        }
      }
    }
  }

  .user-input {
    text-align: center;
    font-size: 2.75em;

    position: relative;
    flex-wrap: wrap;

    .no-wrap {
      flex-wrap: nowrap;
      position: relative;
      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    select {
      @include input;

      outline: none;
      font-size: 1em;
      margin: 2vmin;

      padding: 0 1vmin;

      background: $bkg-color;
    }

    .button {
      @include button($accent-blue);
      margin-left: 1vmin;

      &.group {
        @include button($gold);
        margin-left: 2vmin;

        white-space: nowrap;
      }
    }

    .quick-fills {
      width: 100%;
      margin: 3vmin auto;
      border-radius: $rounded * 0.15;
      overflow: hidden;

      table-layout: fixed;

      border-collapse: collapse;

      .quick-fill {
        font-size: 0.7em;
        // width: 33%;

        text-align: center;
        display: table-cell;
        padding: 1.5vmin 1vmin;

        background: color.adjust($dark-gray, $alpha: -0.7);
        border: 0.2vmin solid color.adjust($gray, $lightness: -20%);

        user-select: none;

        &:hover {
          background: $darkest-gray;
          cursor: pointer;
        }
      }

      tr:first-child td {
        border-top: 0;
      }
      tr td:first-child {
        border-left: 0;
      }
      tr:last-child td {
        border-bottom: 0;
      }
      tr td:last-child {
        border-right: 0;
      }
    }
  }
}

table:not(.quick-fills) {
  width: 100%;
  font-size: 0.75em;
  border-collapse: collapse;
  table-layout: fixed;

  tr {
    margin: 0;

    td,
    th {
      text-align: left;
      padding: 0.8vmin 3.5vmin;
    }

    th {
      font-weight: $font-light;
    }

    a {
      color: $light-gray;

      &:hover {
        color: $off-white;
      }
    }

    &:nth-child(odd) {
      background-color: $dark-gray;
    }

    &.headers {
      background-color: $accent-dark-blue;
    }
  }
}

.profile {
  .title {
    font-weight: $font-title;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0;

    flex-basis: 100%;
  }

  .email {
    flex-basis: 100%;
    text-align: center;
    font-size: 0.7em;
  }

  .button {
    @include button($accent-blue);
    margin: 2vmin 0;
  }

  .tic-list {
    margin: 2vmin 0;
    flex-basis: 100%;

    .title {
      line-height: 0;

      font-size: 1em;
      width: 100%;
      font-weight: $font-light;

      margin-bottom: 4vmin;
    }

    .tics {
      margin-top: 2vmin;
      text-align: center;

      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .tic-link {
      @include button($gray);

      &.unanswered {
        @include button($accent-light-blue);
      }

      font-size: 0.8em;

      margin: 1vmin 0.75vmin;
    }
  }
}

.dict-page {
  .dictionary {
    .title {
      width: 100%;
      text-align: center;

      margin: 2vmin 0 2vmin;
      font-weight: $font-title;
    }

    .basis-100 {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 4vmin;

      .input-wrapper {
        font-size: 0.8em;
        position: relative;
        display: inline;
        text-align: center;

        .label {
          left: 0;
        }

        input {
          font-weight: $font-thin;
        }
      }
    }

    .term {
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;

      font-weight: $font-light;

      width: 8em;
      height: 3.5em;
      padding: 3vmin;
      margin: 1vmin;

      background: $darkest-gray;

      border-radius: 1.5vmin;
      box-shadow: 0.3vmin 0.3vmin 0.5vmin 0.15vmin rgba(0, 0, 0, 0.3);

      .definition {
        font-weight: $font-thin;
        font-size: 0.5em;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.msg404 {
  text-align: center;
  margin-top: 10vmax;

  font-size: 0.6vw;

  .title {
    font-weight: $font-title;
    font-size: 35em;
    width: 100%;

    line-height: 80%;
  }

  .subtitle {
    font-size: 5em;
  }
}

.paper > .title,
.home > .title {
  font-weight: $font-title;
  font-size: 3em;

  text-align: center;

  margin-top: 0.5em;
}
