@use 'values' as *;
@use 'mixins' as *;

* {
  transition: $transition;
  transition-property: color, background-color; // Overwrite 'all' in $transition
}

a {
  color: inherit;
  text-decoration: inherit;
}

.header {
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;

  font-size: 2.5em;

  padding: 2vmin $horizontal-margin;

  border-bottom: 0.15vmin solid $light-gray;

  .title {
    font-size: 1.2em;
    font-weight: $font-title;
  }

  .login {
    @include button($accent-blue);

    cursor: pointer;
    position: absolute;
    right: $horizontal-margin;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 3vmin $horizontal-margin;
  font-size: 2.2em;
}

.input-wrapper {
  input {
    @include input;
  }

  .label {
    font-size: 0.5em;
    position: absolute;
    color: $gray;
  }
}

.search {
  font-size: 3.5em;
  .title {
    font-size: 1em;
  }

  .input-wrapper {
    margin-left: 0.5em;

    input {
      width: 5em;
    }
  }

  .btn-search {
    margin-left: 0.5em;
    @include button($accent-blue);
  }
}

.tic {
  font-size: 1em;

  .tic-info {
    .title {
      font-weight: $font-thin;
      font-size: 1.5em;
      margin: 0 0 3vmin;

      .id {
        font-weight: $font-title;
        display: inline-block;
      }
    }

    .stats {
      display: block;
      width: 100%;
      text-align: center;

      .stat {
        font-size: 1.25em;
        display: inline-block;
        flex-direction: column;
        font-weight: $font-light;

        margin: 1vmin 1vw;

        &.up {
          margin: 0 inherit;
        }

        .label {
          line-height: 1.2em;
          font-size: 0.4em;
          font-weight: $font-light;

          span {
            font-weight: $font-thin;
            color: $gray;
          }
        }

        img {
          width: 20vmin;
          height: 20vmin;

          margin-bottom: 2vh;
        }
      }
    }

    .dispositions {
      margin-top: 4vmin;
      width: 70%;

      .title {
        font-size: 0.5em;
        margin: 0.5vmin 0;
      }

      table {
        width: 100%;
        font-size: 0.75em;
        border-collapse: collapse;

        tr {
          margin: 0;

          td,
          th {
            text-align: left;
            padding: 0.8vmin 3.5vmin;
          }

          th {
            font-weight: $font-light;
          }

          &:nth-child(odd) {
            background-color: $light-gray;
          }

          &.headers {
            background-color: $accent-light-blue;
          }
        }
      }
    }
  }

  .user-input {
    text-align: center;
    font-size: 2.75em;

    position: relative;

    flex-wrap: wrap;

    select {
      @include input;
      outline: none;
      font-size: 1em;
      margin: 2vmin;

      padding: 0 1vmin;
    }

    .button {
      @include button($accent-blue);
      margin-left: 1vmin;
    }
  }
}

.profile {
  .title {
    font-weight: $font-title;
    text-align: center;
    font-size: 3em;
    margin-top: 2vmin;
    margin-bottom: 0;
  }

  .need-attention {
    margin-top: 0;

    .title {
      line-height: 0;

      font-size: 1em;
      width: 100%;
      font-weight: $font-light;

      margin-bottom: 4vmin;
    }

    .tics {
      margin-top: 2vmin;
    }

    .tic-link {
      font-size: 0.8em;
      border: $border black;
      border-radius: $rounded;
      padding: 1vmin 2vmin;

      &:hover {
        color: white;
        background: black;
      }
    }
  }
}

.dict-page {
  .dictionary {
    .title {
      width: 100%;
      text-align: center;

      margin: 2vmin 0 2vmin;
      font-weight: $font-title;
    }

    .basis-100 {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 4vmin;

      .input-wrapper {
        font-size: .8em;
        position: relative;
        display: inline;
        text-align: center;

        .label {
          left: 0;
        }

        input {
          font-weight: $font-thin;
        }
      }
    }

    .term {
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;

      font-weight: $font-light;

      width: 8em;
      height: 3.5em;
      padding: 3vmin;
      margin: 1vmin;

      border-radius: 1.5vmin;
      box-shadow: 0.3vmin 0.3vmin 0.5vmin 0.15vmin rgba(0, 0, 0, 0.3);

      .definition {
        font-weight: $font-thin;
        font-size: 0.5em;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.msg404 {
  text-align: center;
  margin-top: 10vmax;

  font-size: 0.6vw;

  .title {
    font-weight: $font-title;
    font-size: 35em;
    width: 100%;

    line-height: 80%;
  }

  .subtitle {
    font-size: 5em;
  }
}
